@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="site-header px-4">
            <h1>King's Landing</h1>
        </div>
                <div class="top-row px-4">
            <NavMenu />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
